nav{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 31px 0 31px 0;
    width: 100vw;
    border-radius: 0 0 24px 24px;
    background-color: transparent;
}

.list{
    list-style: none;
    margin-right: 5%;
    color: #184D47;
    font-size: 20px;
    font-weight: 500;
}


.tentang{
    list-style: none;
    border-right: 3px solid #979797;
    margin-right: 5%;
    color: #184D47;
    padding-right: 24px;
}

.Login-Button{
    background-color: #00917C;
}

button{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }
