*{
  font-family: Poppins;
  text-decoration: none;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.slick-dots {
  padding: 0;
  margin: 0;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
  background-color: #D9D9D9;
  border-radius: 50%;
}
.slick-dots li button {
  opacity: 0;
}
.slick-dots li.slick-active  {
  background-color: #00917C;
}