html {
    scroll-behavior: smooth;
}
* {
    color: #00917C;
}

.dropdown-item {
    color: #00917C;
}

.navbar-nav .nav-item .nav-link {
    position: relative;
}

.navbar-nav .nav-item .nav-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 3px;
    margin-left: 8px;
    background-color: #00917C;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    transform: scaleX(0);
    transform-origin: center center;
}

.navbar-nav .nav-item .nav-link.active:after {
    transform: scaleX(1);
}

.dropdown-item:hover {
    background-color: #00917C;
    color: 00917C;
}

.navbar-nav .nav-item .underline:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 3px;
    margin-left: 8px;
    background-color: #00917C;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    transform: scaleX(0);
    transform-origin: center center;
}

.navbar-nav .nav-item .nav-link.underline.active:after {
    transform: scaleX(1);
}
