.sign-up-container {
    background-image: url('../assets/backgroundSignUp.svg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    overflow: hidden;
}

.sign-up-container-background {
    background-color: rgba(4, 41, 15, 0.5);
    min-height: 100vh;
    min-width: 100vw;
}
.sign-up-container .card-form-sign-up{
    background-color: rgba(176, 172, 172, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 100%;
    position: relative;
    transform: translate(0,50%);
    border-radius: 1vw;
}