.landing-page-container {
    background-image: url('./assets/BackgroundLandingPage.svg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    overflow: hidden;
}

.landing-page-container-background {
    background-color: rgba(4, 41, 15, 0.5);
    min-height: 100vh;
    min-width: 100vw;
}

.button-landing-page:hover {
    background-color: #00917C;
}